*{margin: 0; padding: 0;}
@font-face {
    font-family: Helvetica Neue;
    src: url("fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf");
}
@font-face {
    font-family: Helvetica Neue Cyr;
    src: url("fonts/HelveticaNeue/HelveticaNeueCyr-Light.ttf");
}
body{
    background-color: rgb(26, 26, 26);
}
.wrapper{
    width: 100%;
}
@media  (min-width:360px) and (max-width:416px) {
body{
background-color: rgb(26, 26, 26);
}
   
    /* HEALTHY SWITCHER */
.logo_healty_txt{
    width: 173px;
    height: 10px;
    color: rgb(52, 199, 89);
}
.logo_and_txt{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 9px;    
}
.nav_li{
    list-style-type: none;
    margin-top: 25px; 
}
.nav_a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 19px;
    font-weight: 400; 
}
.nav_a:hover{
    color: rgb(52, 199, 89);
}
.logo_nav{
    display: flex;
    justify-content: space-around;
}
.nav_ul{
    opacity: 0;
    visibility: hidden;
    gap: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(26, 26, 26, 0.97);
    width: 100%;
    height: 320px;
    position: absolute;
    left: 0;
    padding-top: 20px;
    transition: .5s ease-in-out; 
}
/* BURGER */
.burger{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 10px;
    width: 40px;
}
.show{
    opacity: 1;
    visibility: visible;
}
.line_burger{
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255); 
    transition: .4s ease-in-out;
}
.active_burger .line_burger:nth-child(1){
    transform: rotate(-45deg) translate(-15px, 15px);
    transition: transform background 1.5s;
    background: rgb(0, 255, 13);
}
.active_burger .line_burger:nth-child(2){
    opacity: 1;
}
.active_burger .line_burger:nth-child(3){
    transform: rotate(45deg) translate(5px, 5px);
    transition: transform 0.5s;
    }

.picture_big{ 
    width: min(100%,760px);
    height: 340px;
    background: url("img/placeholder.png")no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
.picture_big_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 7vw;
    font-weight: 200;
    margin-top: 30px;
}
.picture_big_txt_pre{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 7vw;
    font-weight: 200;
}
.picture_big_txt_all{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt_span_your{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue Cyr;
    font-size: 7vw;
}
.txt_span_delivered{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue Cyr;
    font-size: 7vw;
}
.annotation_txt{
    color: rgba(255, 255, 255, 0.7);
    font-family: Helvetica Neue;
    font-size: 1.9vw;
    text-align: center;
    margin-top: 5px;
}
.annotation_txt_pre{
    color: rgba(255, 255, 255, 0.7);
    font-family: Helvetica Neue;
    font-size: 1.9vw;
    text-align: center;
    margin-top: 5px;
}
.picture_big_button{
    color: rgb(26, 26, 26);
    font-family: Helvetica Neue;
    font-size: 2.5vw;
    font-weight: 400;
    text-align: center;
    border-radius: 43px;
    background: rgb(52, 199, 89);
    width: 120px;
    height: 36px;
    background-size: contain;
    background-attachment: fixed;
}
.picture_big_button_all{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contacts_block_all{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
}
.img_watch_all{
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.today_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue Cyr;
    font-size: 10px;
    text-align: center;
}
.working_txt{
    color: rgba(255, 255, 255, 0.5);
    font-family: Helvetica Neue;
    font-size: 9px;
    text-align: center;
}

.img_near_all{
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.velyka_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue Cyr;
    font-size: 10px;
    text-align: center;
}
.get_txt{
    color: rgba(255, 255, 255, 0.5);
    font-family: Helvetica Neue;
    font-size: 9px;
    text-align: center;
}

.img_call_all{
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.number_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue Cyr;
    font-size: 10px;
    text-align: center;
}
.call_txt{
    color: rgba(255, 255, 255, 0.5);
    font-family: Helvetica Neue;
    font-size: 9px;
    text-align: center;
}
}



/* FOR BUTTON PICTURES HEAD Start */
@media  (min-width:518px) and (max-width:915px){
.picture_big_button{
    color: rgb(26, 26, 26);
    font-family: Helvetica Neue;
    font-size: 2.5vw;
    font-weight: 400;
    text-align: center;
    border-radius: 43px;
    background: rgb(52, 199, 89);
    width: 170px;
    height: 52px;
    background-size: contain;
    background-attachment: fixed;
}
.picture_big_button_all{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
}
@media  (min-width:915px) and (max-width:1920px){
    .picture_big_button{
        color: rgb(26, 26, 26);
        font-family: Helvetica Neue;
        font-size: 2.0vw;
        font-weight: 400;
        text-align: center;
        border-radius: 43px;
        background: rgb(52, 199, 89);
        width: 220px;
        height: 72px;
        background-size: contain;
        background-attachment: fixed;
    }
    .picture_big_button_all{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}
/* FOR BUTTON PICTURES HEAD END */

.section1_main{   
    width: 300px;
    height: 350px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: rgb(37, 37, 37);
    margin: 0 auto;
}
.main_about_txt{
    color: rgb(48, 48, 48);
    font-family: Helvetica Neue;
    font-size: 50px;
    font-weight: 900; 
}
.main_basics_txt{
    color: rgb(217, 217, 217);
    font-family: Helvetica Neue Cyr;
    font-size: 18px;
    margin-top: -40px;
    letter-spacing: 1px;
}
.main_about_txt_all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_aliqua_txt{
    color: rgb(166, 166, 166);
    font-family: Helvetica Neue;
    font-size: 9px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}
.placeholder3{
    
    width: 270px;
    height: 220px;
}
.placeholder4{
    
    width: 270px;
    height: 220px;
}
.placeholder34_all{
    width: 270px;
    height: 220px;
    display: flex;
    gap: 15px;
    margin: 0 auto;
    padding: 15px;
    overflow-y: scroll;

}

