*{margin: 0; padding: 0;}
@font-face {
    font-family: Helvetica Neue;
    src: url("fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf");
}
@font-face {
    font-family: Helvetica Neue Cyr;
    src: url("fonts/HelveticaNeue/HelveticaNeueCyr-Light.ttf");
}
body{
    background-color: black;
}

@media  (min-width:360px) and (max-width:915px) {
body{
background-color: rgb(26, 26, 26);
}    
    /* HEALTHY SWITCHER */
.logo_healty_txt{
    width: 173px;
    height: 10px;
    color: rgb(52, 199, 89);
}
.logo_and_txt{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 9px;    
}
.nav_li{
    list-style-type: none;
    margin-top: 25px; 
}
.nav_a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 19px;
    font-weight: 400; 
}
.nav_a:hover{
    color: rgb(52, 199, 89);
}
.logo_nav{
    display: flex;
    justify-content: space-around;
}
.nav_ul{
    opacity: 0;
    visibility: hidden;
    gap: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(26, 26, 26, 0.97);
    width: 100%;
    height: 260px;
    position: absolute;
    left: 0;
    padding-top: 20px;
    transition: .5s ease-in-out; 
}
/* BURGER */
.burger{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 10px;
    width: 40px;
}
.show{
    opacity: 1;
    visibility: visible;
}
.line_burger{
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255); 
    transition: .4s ease-in-out;
}
.active_burger .line_burger:nth-child(1){
    transform: rotate(-45deg) translate(-15px, 15px);
    transition: transform background 1.5s;
    background: rgb(0, 255, 13);
}
.active_burger .line_burger:nth-child(2){
    opacity: 1;
}
.active_burger .line_burger:nth-child(3){
    transform: rotate(45deg) translate(5px, 5px);
    transition: transform 0.5s;
    }
    
main{
    width: 100%;
}
.picture_big{ 
    width: 100%;
    height: 600px;
    background: url("img/placeholder.png")no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
.picture_big_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 7vw;
    font-weight: 200;
    margin-top: 30px;
}
.picture_big_txt_pre{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 7vw;
    font-weight: 200;
}
.picture_big_txt_all{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt_span_your{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue Cyr;
    font-size: 7vw;
}
.txt_span_delivered{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue Cyr;
    font-size: 7vw;
}
.annotation_txt{
    color: rgba(255, 255, 255, 0.7);
    font-family: Helvetica Neue;
    font-size: 1.9vw;
    text-align: center;
    margin-top: 5px;
}
.annotation_txt_pre{
    color: rgba(255, 255, 255, 0.7);
    font-family: Helvetica Neue;
    font-size: 1.9vw;
    text-align: center;
    margin-top: 5px;
}
}


