*{margin: 0; padding: 0;}
@font-face {
    font-family: Helvetica Neue;
    src: url("fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf");
}
@font-face {
    font-family: Helvetica Neue Cyr;
    src: url("fonts/HelveticaNeue/HelveticaNeueCyr-Light.ttf");
}
body{
    background-color: rgb(26, 26, 26);
}
.wrapper{
    width: 100%;
}
@media  (min-width:360px) and (max-width:432px) {
body{
background-color: rgb(26, 26, 26);
}
   
    /* HEALTHY SWITCHER */
.logo_healty_txt{
    width: 173px;
    height: 10px;
    color: rgb(52, 199, 89);
}
.logo_and_txt{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 9px;    
}
.nav_li{
    list-style-type: none;
    margin-top: 25px; 
}
.nav_a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 19px;
    font-weight: 400; 
}
.nav_a:hover{
    color: rgb(52, 199, 89);
}
.logo_nav{
    display: flex;
    justify-content: space-around;
}
.nav_ul{
    opacity: 0;
    visibility: hidden;
    gap: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(26, 26, 26, 0.97);
    width: 100%;
    height: 320px;
    position: absolute;
    left: 0;
    padding-top: 20px;
    transition: .5s ease-in-out; 
}
/* BURGER */
.burger{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 10px;
    width: 40px;
}
.show{
    opacity: 1;
    visibility: visible;
}
.line_burger{
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255); 
    transition: .4s ease-in-out;
}
.active_burger .line_burger:nth-child(1){
    transform: rotate(-45deg) translate(-15px, 15px);
    transition: transform background 1.5s;
    background: rgb(0, 255, 13);
}
.active_burger .line_burger:nth-child(2){
    opacity: 1;
}
.active_burger .line_burger:nth-child(3){
    transform: rotate(45deg) translate(5px, 5px);
    transition: transform 0.5s;
    }

.picture_big{ 
    width: min(100%,760px);
    height: 340px;
    background: url("img/placeholder.png")no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
.picture_big_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 7vw;
    font-weight: 200;
    margin-top: 30px;
}
.picture_big_txt_pre{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 7vw;
    font-weight: 200;
}
.picture_big_txt_all{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt_span_your{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue Cyr;
    font-size: 7vw;
}
.txt_span_delivered{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue Cyr;
    font-size: 7vw;
}
.annotation_txt{
    color: rgba(255, 255, 255, 0.7);
    font-family: Helvetica Neue;
    font-size: 1.9vw;
    text-align: center;
    margin-top: 5px;
}
.annotation_txt_pre{
    color: rgba(255, 255, 255, 0.7);
    font-family: Helvetica Neue;
    font-size: 1.9vw;
    text-align: center;
    margin-top: 5px;
}
.picture_big_button{
    color: rgb(26, 26, 26);
    font-family: Helvetica Neue;
    font-size: 2.5vw;
    font-weight: 400;
    text-align: center;
    border-radius: 43px;
    background: rgb(52, 199, 89);
    width: 120px;
    height: 36px;
    background-size: contain;
    background-attachment: fixed;
}
.picture_big_button_all{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contacts_block_all{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
}
.img_watch_all{
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.today_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue Cyr;
    font-size: 10px;
    text-align: center;
}
.working_txt{
    color: rgba(255, 255, 255, 0.5);
    font-family: Helvetica Neue;
    font-size: 9px;
    text-align: center;
}

.img_near_all{
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.velyka_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue Cyr;
    font-size: 10px;
    text-align: center;
}
.get_txt{
    color: rgba(255, 255, 255, 0.5);
    font-family: Helvetica Neue;
    font-size: 9px;
    text-align: center;
}

.img_call_all{
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.number_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue Cyr;
    font-size: 10px;
    text-align: center;
}
.call_txt{
    color: rgba(255, 255, 255, 0.5);
    font-family: Helvetica Neue;
    font-size: 9px;
    text-align: center;
}
}



/* FOR BUTTON PICTURES HEAD Start */
@media  (min-width:518px) and (max-width:915px){
.picture_big_button{
    color: rgb(26, 26, 26);
    font-family: Helvetica Neue;
    font-size: 2.5vw;
    font-weight: 400;
    text-align: center;
    border-radius: 43px;
    background: rgb(52, 199, 89);
    width: 170px;
    height: 52px;
    background-size: contain;
    background-attachment: fixed;
}
.picture_big_button_all{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
}
@media  (min-width:915px) and (max-width:1920px){
    .picture_big_button{
        color: rgb(26, 26, 26);
        font-family: Helvetica Neue;
        font-size: 2.0vw;
        font-weight: 400;
        text-align: center;
        border-radius: 43px;
        background: rgb(52, 199, 89);
        width: 220px;
        height: 72px;
        background-size: contain;
        background-attachment: fixed;
    }
    .picture_big_button_all{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}
/* FOR BUTTON PICTURES HEAD END */



                       /* ABOUT */
@media  (min-width:360px) and (max-width:432px){
.section1_main{   
    width: 300px;
    height: 340px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    background: rgb(37, 37, 37);
    margin: 0 auto;
    padding: 15px;
}
.main_about_txt{
    color: rgb(48, 48, 48);
    font-family: Helvetica Neue;
    font-size: 50px;
    font-weight: 900; 
}
.main_basics_txt{
    color: rgb(217, 217, 217);
    font-family: Helvetica Neue Cyr;
    font-size: 18px;
    margin-top: -40px;
    letter-spacing: 1px;
}
.main_about_txt_all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.main_aliqua_txt{
    color: rgb(166, 166, 166);
    font-family: Helvetica Neue;
    font-size: 9px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}
.placeholder3{
    
    width: 270px;
    height: 220px;
}
.placeholder4{
    
    width: 270px;
    height: 220px;
}
.placeholder34_all{
    width: 270px;
    height: 220px;
    display: flex;
    gap: 15px;
    margin: 0 auto;
    padding: 15px;
    overflow-y: scroll;

}
}

                 

                         /* WORK */
@media  (min-width:360px) and (max-width:432px){
.main_work_txt_all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
}
.main_work_txt{
    color: rgb(48, 48, 48);
    font-family: Helvetica Neue;
    font-size: 50px;
    font-weight: 900;
}
.main_how_txt{
    color: rgb(217, 217, 217);
    font-family: Helvetica Neue Cyr;
    font-size: 19px;
    margin-top: -40px;
    letter-spacing: 3px;
}
.main_work_line_green{
    /* Line */
width: 40px;
height: 2px;
background: rgb(52, 199, 89);
}
.main_work_line_green_div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.section2_main{
width: 270px;
height: 150px;
display: flex; 
flex-direction: column;   
gap: 15px;
margin: 0 auto;
padding: 15px;
overflow: scroll;
}
.section2_div1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 240px;
    height: 150px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: rgb(37, 37, 37);
}
.section2_div1_pick_txt{
    color: rgb(25, 25, 25);
    font-family: Helvetica Neue;
    font-size: 22px;
}
.section2_div1_pick_line{
    width: 56px;
    height: 2px;
    background: rgb(52, 199, 89);
}
.section2_div1_choose_txt{
    color: rgba(255, 255, 255, 0.5);
    font-family: Helvetica Neue;
    font-size: 13px;
}


.section2_div2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 240px;
    height: 150px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: rgb(37, 37, 37);
}
.section2_div2_choose_txt{
    color: rgb(25, 25, 25);
    font-family: Helvetica Neue;
    font-size: 22px;
}
.section2_div2_pick_line{
    width: 56px;
    height: 2px;
    background: rgb(52, 199, 89);
}
.section2_div2_our_txt{
    color: rgba(255, 255, 255, 0.5);
    font-family: Helvetica Neue;
    font-size: 13px;
}

.section2_div3{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 240px;
    height: 150px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: rgb(37, 37, 37);
}
.section2_div3_fast_txt{
    color: rgb(25, 25, 25);
    font-family: Helvetica Neue;
    font-size: 22px;
}
.section2_div3_pick_line{
    width: 56px;
    height: 2px;
    background: rgb(52, 199, 89);
}
.section2_div3_your_txt{
    color: rgba(255, 255, 255, 0.5);
    font-family: Helvetica Neue;
    font-size: 13px;
}

.section2_div4{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 240px;
    height: 150px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: rgb(37, 37, 37);
}
.section2_div4_tasty_txt{
    color: rgb(25, 25, 25);
    font-family: Helvetica Neue;
    font-size: 22px;
}
.section2_div4_pick_line{
    width: 56px;
    height: 2px;
    background: rgb(52, 199, 89);
}
.section2_div4_gobble_txt{
    color: rgba(255, 255, 255, 0.5);
    font-family: Helvetica Neue;
    font-size: 13px;
}


    /* <!-- DISHES --> */

.main_dishes_txt_all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
}
.main_dishes_txt{
    color: rgb(48, 48, 48);
    font-family: Helvetica Neue;
    font-size: 50px;
    font-weight: 900;
}
.main_dish_txt{
    color: rgb(217, 217, 217);
    font-family: Helvetica Neue Cyr;
    font-size: 19px;
    margin-top: -40px;
    letter-spacing: 3px;
}
.main_dishes_line_green{
    /* Line */
width: 40px;
height: 2px;
background: rgb(52, 199, 89);
}
.main_dishes_line_green_div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.section3_main{
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    gap: 15px;
    width: 350px;
    height: 450px;
    overflow: scroll;
}
.dish_img_div1{
    background-image: url("img/dish\ background.png");
    width: 350px;
    height: 440px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: rgb(37, 37, 37);
}
.dish_img_div2{
    background-image: url("img/dish\ background.png");
    width: 350px;
    height: 440px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: rgb(37, 37, 37);
}
.dish_img_div3{
    background-image: url("img/dish\ background.png");
    width: 350px;
    height: 440px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: rgb(37, 37, 37);
}
.dish_img_div4{
    background-image: url("img/dish\ background.png");
    width: 350px;
    height: 440px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: rgb(37, 37, 37);
}
.dish_img_div5{
    background-image: url("img/dish\ background.png");
    width: 350px;
    height: 440px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: rgb(37, 37, 37);
}
.dish_img_div6{
    background-image: url("img/dish\ background.png");
    width: 350px;
    height: 440px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: rgb(37, 37, 37);
}
.dish_stars_all{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    margin-left: 20px;
}
.dish_stars{
    display: flex;
    gap: 5px;
}
.dish_stars img{
    width: 20px;
    height: 20px;
}
.dish_featured_txt{
    color: rgb(217, 217, 217);
    font-family: Helvetica Neue;
    font-size: 28px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 15px;
}
.dish_served_txt{
    color: rgb(164, 168, 178);
    font-family: Helvetica Neue;
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
}
.dish_choice_txt{
    color: rgb(133, 135, 140);
    font-family: Helvetica Neue;
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 20px;
}
.dish_numb12{
    color: rgb(179, 179, 179);
    font-family: Helvetica Neue;
    font-size: 12px;
    font-weight: 900;
}
.dish_but_order{
    margin-left: 40px;
    box-sizing: border-box;
    border: 2px solid rgb(48, 48, 48);
    border-radius: 30px;
    background: rgb(52, 199, 89);
    color: rgb(37, 37, 37);
    font-family: Helvetica Neue;
    font-size: 10px;
    font-weight: 900;
    width: 100px;
    height: 40px;  
}



   /* CHEFS */

.chef_avatar1_all{
display: flex;
flex-direction: column;
margin-top: 15px;
margin-left: 15px;
gap: 15px;
}   
.chef_avatar1{
    display: flex;
    gap: 15px;
    align-items: center;
}
.chef_avatar1_txt{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.chef_avatar1_greg_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: 400;
}
.chef_avatar1_chif_txt{
    color: rgba(255, 255, 255, 0.5);
    font-family: Helvetica Neue;
    font-size: 12px;
    font-weight: 400;
}
.chef_avatar1_pics{
    display: flex;
    gap: 20px;
}



  /* RECIPES */

.section5_main_recipes{
    display: flex;
    background-image: url("img/recipes\ pic1.png");
    width: 360px;
    height: 380px;
    margin: 0 auto;
    margin-top: 15px;
}
.recipes_brea_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 10px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-align: center;
    text-transform: uppercase;
    background: rgb(0, 0, 0);
    opacity: 0.3;
    width: 90px;
    height: 25px;
}
.recipes_brea_txt_up{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   margin-top: 50px;
   gap: 30px;
}
.recipes_jul_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
}
.recipes_come_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.recipes_jason_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue;
    font-size: 14px;
    font-weight: 400;
}


          /* SOCIAL */


.social_div1_all{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}
.social_div1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 65px;
    background: rgb(38, 38, 38);
    border-radius: 10px;
}
.twitter_div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.twitter_txt{
    color: rgb(191, 191, 191);
    font-family: Helvetica Neue;
    font-size: 14px;
    font-weight: 400;
}
.social_div2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 65px;
    background: rgb(38, 38, 38);
    border-radius: 10px;
}
.social_div3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 65px;
    background: rgb(38, 38, 38);
    border-radius: 10px;
}



          /* footer */


.contacts_block_all{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
}
.img_watch_all{
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.today_txt{
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue Cyr;
    font-size: 10px;
    text-align: center;
}
.working_txt{
    color: rgba(255, 255, 255, 0.5);
    font-family: Helvetica Neue;
    font-size: 9px;
    text-align: center;
}
.footer_line{
    width: 100%;
    height: 2px;
    background: rgb(48, 48, 48);
    margin-top: 10px;
}
.footer_healthy_txt{
    width: 173px;
    height: 10px;
    color: rgb(52, 199, 89);
}
.footer_logo_all{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}
.footer_copyright_all{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}
.footer_copyright_txt{
    color: rgb(115, 115, 115);
    font-family: Helvetica Neue;
    font-size: 12px;
    font-weight: 400;
}
.footer_reserved_txt{
    color: rgb(115, 115, 115);
    font-family: Helvetica Neue;
    font-size: 12px;
    font-weight: 400;
}
}
